.logo{
    max-width: 30vh;
}

.user{
    max-width: 6vh;
    margin: 0;
}

*{
    list-style: none!important;
}


@media (min-width: 500px) {
    .user1{
        justify-content: center;
        align-items: center;
    }
}
.user1{
    display: flex;
}