.signContainer{
    width: 90%;
    margin:3rem auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #343a40;
    padding: 2rem;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.658);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.514);
    border-radius: 1rem;
    border: solid;
    border-color: #ffa300;
}

@media (min-width: 700px) {
    .signContainer{

        width: 60%;
    }
}

.titleContainer{
    color: #ffa300;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 80%;
}

.title{
    min-width: 40%;
}

.line{
    border-top: 2.5px solid #ffa300;
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 1rem auto ;
    display: none;
}

@media (min-width: 600px) {
    .line{
        display: flex;
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}
@media (min-width: 600px) {
    .inputs{
        width: 80%;
    }
}
.country,
.surname,
.name,
.pic,
.mail,
.passwordCheck,
.password,
.account{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: #d8d8d8f3;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.658);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.514);
    border-color: #ffa300;
}

.send{
    display: flex;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.658);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.514);
    background-color: #ffa300;
    color: whitesmoke;
    border-color: #7e5000;
    justify-content: center;
    margin-top: 2rem;
}


.logError{
    text-align: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.322);
    color: white;
    padding: 0.4rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.googleBtn{
    width: 60%!important;
    height: 5%!important;
    margin: 2rem auto 0 auto;
}