
.topPaises{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.topPais {
    margin-top: 1rem;
    
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.658);
    box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.514);
    border-radius: 0.5rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
    background-position: center center;
    background-size: cover;
    width: 45%;
}
.pie{
    display: inline-flex;
    flex-grow: 1;
    background-color: #eff1f380;
    padding: 0.5rem;
    font-size: 1rem;
    justify-content:center;
    font-weight: 600;
    margin-bottom: 0
}

@media (min-width: 700px) {
    .topPais{
        height: 30vh;
        width: 47%;
    }
    .pie{
        font-size: 1.2rem;
    }
    
}

@media (min-width: 900px) {
    .topPais{
        height: 40vh;
        width: 23%;
        
    }
    
    .topPaises{
        flex-wrap: nowrap;
    }
}

.pais1{
    background-image: url('../images/cancun3.jpg');
    background-image: center center;
    background-position: cover;
    
}
.pais2{
    background-image: url('../images/milan3.jpg');
    background-image: center center;
    background-position: cover;
}
.pais3{
    background-image: url('../images/paris3.jpg');
    background-image: center center;
    background-position: cover;
}
.pais4{
    background-image: url('../images/new-york-city3.jpg');
    background-image: center center;
    background-position: cover;
}

.topPais:last-child{
    margin-right: 0;
}

.topPais img{
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 46.5vh;
    height: 40vh;
    object-fit: cover ;
}


